.wrap,
header {
  height: 100px;
}
header {
  position: fixed;
  background-color: #0ff;
  top: 3px;
}
nav li {
  display: inline;
  margin-left: 0;
  margin-right: 20px;
  font-size: 15px;
  font-family: monospace;
  text-align: justify;
}
a:hover {
  color: red;
}
a {
  text-decoration: none;
  text-align: justify;
}
.hero {
  height: 500px;
  background-image: url("../img/oneplus6.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
article {
  height: auto;
  background-color: #f0f8ff;
  font-style: italic;
  text-align: justify;
}
.speed {
  font-size: 50px;
  text-align: center;
  font-family: Pacifico, cursive;
}
.one {
  background-color: #0ff;
}
.inbox {
  padding-left: 10px;
}
.wrap2 {
  background-color: #f0f8ff;
  height: auto;
}
footer {
  background-color: #0ff;
  height: 60px;
}
footer li {
  margin: auto;
  display: inline;
  padding-right: 20px;
  text-align: end;
}
